.article[data-v-09463da8] {
  padding: 20px;
  background-color: #fff;
}
.article .title[data-v-09463da8] {
  display: flex;
  margin-bottom: 15px;
}
.article .category[data-v-09463da8] {
  position: relative;
  display: block;
  text-align: center;
  padding: 0 5px;
  height: 20px;
  color: #fff;
  background-color: #d9534f;
}
.article .category i[data-v-09463da8] {
  position: absolute;
  right: -4px;
  top: 50%;
  transform: translateY(-50%);
  border-left: 4px solid #d9534f;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
}
.article .router-title[data-v-09463da8] {
  width: auto;
}
.article .title-info[data-v-09463da8] {
  margin-left: 5px;
  font-size: 20px;
  color: #00a67c;
}
.article .content[data-v-09463da8] {
  display: flex;
}
.article .content .headimg[data-v-09463da8] {
  height: 123px;
  width: 200px;
  margin-right: 20px;
}
.article .content .summary[data-v-09463da8] {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.article .content .summary .summary-ins[data-v-09463da8] {
  height: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.article .content .summary .summary-ins[data-v-09463da8] img {
  width: 200px;
  height: 200px;
}
.article .content .ins[data-v-09463da8] {
  align-self: flex-end;
}
.article .content .ins span[data-v-09463da8] {
  color: #999;
  margin-right: 20px;
}

