.category[data-v-061bb443] {
  height: 60px;
  background-color: #fff;
  padding: 10px 20px;
  margin-bottom: 1px;
}
.category .title[data-v-061bb443] {
  font-size: 22px;
  color: #7a6f6f;
  font-weight: normal;
}
.category .title i[data-v-061bb443] {
  width: 16px;
  font-size: 20px;
}
.category .title i.icon-wifi[data-v-061bb443] {
  color: #f58128;
}
.category .ins[data-v-061bb443] {
  color: #666;
  margin-top: 10px;
}

