.widget[data-v-5777a3e8] {
  width: 360px;
  background-color: #fff;
  padding: 15px;
}
.title[data-v-5777a3e8] {
  font-size: 16px;
  font-weight: normal;
  line-height: 40px;
  color: #1abc9c;
  border-bottom: 1px solid #90bba8;
  margin-bottom: 5px;
}
.items[data-v-5777a3e8] {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #00a67c;
}
.items li[data-v-5777a3e8] {
  width: 50%;
  line-height: 30px;
}
.items li.article[data-v-5777a3e8] {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.items li .time[data-v-5777a3e8] {
  color: #999;
}

