.social[data-v-a98be2a2] {
  display: flex;
}
.social a[data-v-a98be2a2] {
  width: 45px;
  height: 45px;
  text-align: center;
  line-height: 45px;
  padding: 10px 6px;
  background-color: #fff;
}
.social a i[data-v-a98be2a2] {
  display: block;
  height: 100%;
  font-size: 30px;
  color: #fff;
  border-radius: 5px;
}
.social a .icon-weibo[data-v-a98be2a2] {
  background: #f78585;
}
.social a .icon-weixin[data-v-a98be2a2] {
  background: #6fc299;
}
.social a .icon-youxiang[data-v-a98be2a2] {
  background: #eca3ac;
}
.social a .icon-qq[data-v-a98be2a2] {
  background: #e74c3c;
}

.common .main[data-v-215de179] {
  justify-content: space-between;
  display: flex;
}
.common .main .left[data-v-215de179] {
  flex: 1;
}
.common .main .left .article[data-v-215de179] {
  margin-bottom: 10px;
}
.common .main .right[data-v-215de179] {
  margin-left: 10px;
}
.common .main .right .social[data-v-215de179] {
  margin-bottom: 10px;
}
.common .main .right .widget[data-v-215de179] {
  margin-bottom: 10px;
}

.header[data-v-ceaf0f54] {
  height: 104px;
  background-color: #1abc9c;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .title[data-v-ceaf0f54] {
  font-size: 40px;
}
.header .ins[data-v-ceaf0f54] {
  font-size: 24px;
}

.nav[data-v-16849b3b] {
  background-color: #4a4a4a;
}
.nav .wrapper[data-v-16849b3b] {
  max-width: 1226px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.nav ul[data-v-16849b3b] {
  height: 52px;
  display: flex;
  opacity: 0.9;
}
.nav .search[data-v-16849b3b] {
  cursor: pointer;
  text-align: center;
  line-height: 52px;
  width: 54px;
  background-color: red;
  height: 100%;
  height: 52px;
  background-color: #16a085;
  color: #fff;
}
.nav .search i[data-v-16849b3b] {
  font-size: 20px;
}
.nav li[data-v-16849b3b] {
  margin-right: 1px;
  font-size: 16px;
  color: #fff;
  width: 104px;
  display: flex;
  align-items: center;
  cursor: pointer;
  flex-direction: column;
}
.nav li.current[data-v-16849b3b] {
  background-color: #16a085;
}
.nav li:hover .child[data-v-16849b3b] {
  background-color: #16a085;
  display: block;
}
.nav li[data-v-16849b3b]:hover {
  background-color: #16a085;
}
.nav li .child[data-v-16849b3b] {
  display: none;
}
.nav li .child[data-v-16849b3b]:hover {
  background-color: #4a4a4a;
}
.nav a[data-v-16849b3b] {
  width: 100%;
  line-height: 52px;
  text-align: center;
  color: #fff;
}

.login[data-v-e6146bdc] {
  width: 400px;
  height: 350px;
  background-color: #63d1b4;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}
.title[data-v-e6146bdc] {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #dbe6e3;
  text-align: center;
  line-height: 60px;
  font-size: 19px;
  color: #ffffff;
}
.content[data-v-e6146bdc] {
  padding: 20px;
}
.content[data-v-e6146bdc] .el-input {
  margin-bottom: 20px;
}

.tip[data-v-74c3e928] {
  height: 40px;
  color: #666;
  padding: 0 20px;
  line-height: 40px;
  background-color: #fbfbfb;
  display: flex;
  justify-content: space-between;
}
.info i[data-v-74c3e928] {
  color: #56af45;
}
span.login[data-v-74c3e928] {
  color: #00a67c;
  cursor: pointer;
}
span.login i[data-v-74c3e928] {
  color: gray;
  font-size: 20px;
  vertical-align: middle;
}
span.logout[data-v-74c3e928] {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  z-index: 999;
}
span.logout[data-v-74c3e928]:hover {
  overflow: visible;
}

.to-top[data-v-3e462eb0] {
  display: none;
}
.to-top button[data-v-3e462eb0] {
  outline: none;
  cursor: pointer;
  width: 36px;
  height: 36px;
  text-align: center;
  background-color: #11a99b;
  color: #fff;
}
.to-top button i[data-v-3e462eb0] {
  font-size: 20px;
}

.content[data-v-b382ac34] {
  max-width: 1226px;
  margin: 0 auto;
  margin-bottom: 10px;
}
.content .tip[data-v-b382ac34] {
  margin-bottom: 10px;
}
.to-top[data-v-b382ac34] {
  position: fixed;
  right: 20px;
  bottom: 70px;
}

